<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no"/>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <title>알고리즘 정리</title>

    <script type="text/javascript">
        $(function() {
            //row에 해당 정보를 가져온다
            /*var table = $("table tbody");
            table.find('tr').each(function (i) {
                var $tds = $(this).find('td'),
                        idx = $tds.eq(0).text(),
                        title = $tds.eq(1).text();

                console.log("************************");
                console.log(idx);
                console.log(title);
                alert('Row ' + (i + 1) + ':\nId: ' + idx
                        + '\ntitle: ' + title);
            });*/

            //해당 row를 클릭했을때 이벤트
            $("tbody").on("click", "tr", function(e) {
                var idx = $(this).index();
                $.ajax({
                    url : '/aiDetailBoard/'+idx,
                    type : 'GET',
                    success : function() {
                        console.log('success called GET /aiDetailBoard');
                        location.href = '/aiDetailBoard/'+idx;
                        //if ( result['result'] == true ) {}
                    }
                });
            });

            $("#save").click(function() {
                var title = $("#title-name").val();
                var content = $("#message-text").val();
                $.ajax({
                    url : '/aiInsertBoard',
                    type : 'POST',
                    dataType: 'JSON',
                    data : { title :title, content :content},
                    success : function(data) {
                        if (typeof data.redirect == 'string')
                            window.location = data.redirect;
                    }
                });
            });
        });
    </script>
</head>
<body>
<!-- 상단 네비게이션 바 -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">KBLOG</a>
            <!-- 브라우저가 좁아졋을때 나오는 버튼(클릭시 메뉴출력) -->
            <!--차후 네이게이션바 fa fa-bars 바꿔야함-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">IT 관련 추천 북마크</a></li>
                <li><a href="#">K - maker 소개</a></li>
                <li><a href="#">알고리즘 정리</a></li>
                <li><a href="#">관리자 로그인</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <h2>알고리즘 관련 글</h2>
    <p>놓치기 쉬운 내용</p>
    <table class="table table-hover" id="board-table">
        <thead>
        <tr>
            <th>No</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        <% rows.forEach(function (item, index) { %>
        <tr>
            <td><%= index+1 %></td>
            <td><%= item.title %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertModal">글쓰기</button>

<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="insertModalLabel">글쓰기</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title-name" class="control-label">title:</label>
                        <input type="text" class="form-control" id="title-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save">Save</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>