<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no"/>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <title>알고리즘 정리</title>

</head>
<body>

<a href="/board/write">글쓰기로 이동</a>
<br>
<br>

<table border="1">
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>내용</td>
    </tr>

    <% rows.forEach(function (item, index) { %>
    <tr>
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td><%= item.content %></td>

    </tr>
    <% }); %>
</table>

</body>
</html>